.converter-wrapper {
  padding: 60px 20px;
}

.converter-card {
  max-width: 750px;
  margin: auto;
  background: #2c2c2c;
  padding: 35px;
  border-radius: 18px;
  box-shadow: 0 0 25px rgba(0, 255, 198, 0.25);
}

.converter-card h1 {
  text-align: center;
  color: #00ffc6;
  margin-bottom: 5px;
}

.subtitle {
  text-align: center;
  color: #aaa;
  margin-bottom: 30px;
}

.converter-section {
  margin-bottom: 35px;
}

.converter-section h3 {
  color: #fff;
  margin-bottom: 12px;
}

.row {
  display: flex;
  gap: 12px;
  margin-bottom: 15px;
}

input, select {
  flex: 1;
  padding: 10px;
  border-radius: 8px;
  border: none;
  outline: none;
  background: #1e1e1e;
  color: #eee;
}

input::placeholder {
  color: #888;
}

button {
  display: block;
  margin: auto;
  padding: 10px 22px;
  background: #00ffc6;
  color: #111;
  border: none;
  border-radius: 10px;
  font-weight: 600;
  cursor: pointer;
  transition: 0.3s;
}

button:hover {
  background: #00e6b0;
  box-shadow: 0 0 10px #00ffc6;
}

.result {
  text-align: center;
  margin-top: 10px;
  color: #00ffc6;
  font-weight: 600;
}
